/Users/willbarmby/Python-Projects/charts/graphs/

'/Users/willbarmby/Python-Projects/charts/old graphs'

graphs/

Archive/

chart-venv/

data.xlsx

~$data.xlsx

__pycache__/

__pycache__

'graphs - old/'

"/Users/willbarmby/Python-Projects/charts/graphs - old"